* {
  font-family: 'Segoe UI';
  text-decoration: none;
}

/* 
// ================================
// | 1 | Typography
// ================================ 
*/
h1, h2, h3, h4, h5, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 2px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: bolder;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  line-height: 19px;
  font-weight: bolder;
}

p {
  font-size: 14px;
  line-height: 19px;
  font-weight: lighter;
}

label {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

/* 
// ================================
// | 2 | Colour & Background
// ================================ 
// 2.A - Colour
*/
.text-primary {
  color: #00316D !important;
}

.text-secondary {
  color: #FFA804 !important;
}

.text-dark-primary {
  color: #293352 !important;
}

.text-light-primary {
  color: #007BFF !important;
}

.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #DFDFDF !important;
}

.text-dark-gray {
  color: #979FB5 !important;
}

.text-black {
  color: #2D2D2D !important;
}

/*
// 2.B - Background
*/
.bg-primary {
  background-color: #00316D !important;
}

.bg-secondary {
  background-color: #FFA804 !important;
}

.bg-dark-primary {
  background-color: #293352 !important;
}

.bg-light-primary {
  background-color: #007BFF !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: #DFDFDF !important;
}

.bg-dark-gray {
  background-color: #979FB5 !important;
}

.bg-black {
  background-color: #2D2D2D !important;
}

/* 
// ================================
// | 3 | Layout
// ================================ 
// 3.A - Margin
*/
.mt-0 {
  margin-top: calc(0 * 5px);
}

.mt-1 {
  margin-top: calc(1 * 5px);
}

.mt-2 {
  margin-top: calc(2 * 5px);
}

.mt-3 {
  margin-top: calc(3 * 5px);
}

.mt-4 {
  margin-top: calc(4 * 5px);
}

.mt-5 {
  margin-top: calc(5 * 5px);
}

.mt-auto {
  margin-top: auto;
}

.mr-0 {
  margin-right: calc(0 * 5px);
}

.mr-1 {
  margin-right: calc(1 * 5px);
}

.mr-2 {
  margin-right: calc(2 * 5px);
}

.mr-3 {
  margin-right: calc(3 * 5px);
}

.mr-4 {
  margin-right: calc(4 * 5px);
}

.mr-5 {
  margin-right: calc(5 * 5px);
}

.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: calc(0 * 5px);
}

.mb-1 {
  margin-bottom: calc(1 * 5px);
}

.mb-2 {
  margin-bottom: calc(2 * 5px);
}

.mb-3 {
  margin-bottom: calc(3 * 5px);
}

.mb-4 {
  margin-bottom: calc(4 * 5px);
}

.mb-5 {
  margin-bottom: calc(5 * 5px);
}

.mb-auto {
  margin-bottom: auto;
}

.ml-0 {
  margin-left: calc(0 * 5px);
}

.ml-1 {
  margin-left: calc(1 * 5px);
}

.ml-2 {
  margin-left: calc(2 * 5px);
}

.ml-3 {
  margin-left: calc(3 * 5px);
}

.ml-4 {
  margin-left: calc(4 * 5px);
}

.ml-5 {
  margin-left: calc(5 * 5px);
}

.ml-auto {
  margin-left: auto;
}

.mx-0 {
  margin-right: calc(0 * 5px);
  margin-left: calc(0 * 5px);
}

.mx-1 {
  margin-right: calc(1 * 5px);
  margin-left: calc(1 * 5px);
}

.mx-2 {
  margin-right: calc(2 * 5px);
  margin-left: calc(2 * 5px);
}

.mx-3 {
  margin-right: calc(3 * 5px);
  margin-left: calc(3 * 5px);
}

.mx-4 {
  margin-right: calc(4 * 5px);
  margin-left: calc(4 * 5px);
}

.mx-5 {
  margin-right: calc(5 * 5px);
  margin-left: calc(5 * 5px);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-0 {
  margin-top: calc(0 * 5px);
  margin-bottom: calc(0 * 5px);
}

.my-1 {
  margin-top: calc(1 * 5px);
  margin-bottom: calc(1 * 5px);
}

.my-2 {
  margin-top: calc(2 * 5px);
  margin-bottom: calc(2 * 5px);
}

.my-3 {
  margin-top: calc(3 * 5px);
  margin-bottom: calc(3 * 5px);
}

.my-4 {
  margin-top: calc(4 * 5px);
  margin-bottom: calc(4 * 5px);
}

.my-5 {
  margin-top: calc(5 * 5px);
  margin-bottom: calc(5 * 5px);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ma-0 {
  margin-top: calc(0 * 5px);
  margin-bottom: calc(0 * 5px);
  margin-right: calc(0 * 5px);
  margin-left: calc(0 * 5px);
}

.ma-1 {
  margin-top: calc(1 * 5px);
  margin-bottom: calc(1 * 5px);
  margin-right: calc(1 * 5px);
  margin-left: calc(1 * 5px);
}

.ma-2 {
  margin-top: calc(2 * 5px);
  margin-bottom: calc(2 * 5px);
  margin-right: calc(2 * 5px);
  margin-left: calc(2 * 5px);
}

.ma-3 {
  margin-top: calc(3 * 5px);
  margin-bottom: calc(3 * 5px);
  margin-right: calc(3 * 5px);
  margin-left: calc(3 * 5px);
}

.ma-4 {
  margin-top: calc(4 * 5px);
  margin-bottom: calc(4 * 5px);
  margin-right: calc(4 * 5px);
  margin-left: calc(4 * 5px);
}

.ma-5 {
  margin-top: calc(5 * 5px);
  margin-bottom: calc(5 * 5px);
  margin-right: calc(5 * 5px);
  margin-left: calc(5 * 5px);
}

.ma-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

/*
// 3.B - Padding
*/
.pt-0 {
  padding-top: calc(0 * 5px);
}

.pt-1 {
  padding-top: calc(1 * 5px);
}

.pt-2 {
  padding-top: calc(2 * 5px);
}

.pt-3 {
  padding-top: calc(3 * 5px);
}

.pt-4 {
  padding-top: calc(4 * 5px);
}

.pt-5 {
  padding-top: calc(5 * 5px);
}

.pt-auto {
  padding-top: auto;
}

.pr-0 {
  padding-right: calc(0 * 5px);
}

.pr-1 {
  padding-right: calc(1 * 5px);
}

.pr-2 {
  padding-right: calc(2 * 5px);
}

.pr-3 {
  padding-right: calc(3 * 5px);
}

.pr-4 {
  padding-right: calc(4 * 5px);
}

.pr-5 {
  padding-right: calc(5 * 5px);
}

.pr-auto {
  padding-right: auto;
}

.pb-0 {
  padding-bottom: calc(0 * 5px);
}

.pb-1 {
  padding-bottom: calc(1 * 5px);
}

.pb-2 {
  padding-bottom: calc(2 * 5px);
}

.pb-3 {
  padding-bottom: calc(3 * 5px);
}

.pb-4 {
  padding-bottom: calc(4 * 5px);
}

.pb-5 {
  padding-bottom: calc(5 * 5px);
}

.pb-auto {
  padding-bottom: auto;
}

.pl-0 {
  padding-left: calc(0 * 5px);
}

.pl-1 {
  padding-left: calc(1 * 5px);
}

.pl-2 {
  padding-left: calc(2 * 5px);
}

.pl-3 {
  padding-left: calc(3 * 5px);
}

.pl-4 {
  padding-left: calc(4 * 5px);
}

.pl-5 {
  padding-left: calc(5 * 5px);
}

.pl-auto {
  padding-left: auto;
}

.px-0 {
  padding-right: calc(0 * 5px);
  padding-left: calc(0 * 5px);
}

.px-1 {
  padding-right: calc(1 * 5px);
  padding-left: calc(1 * 5px);
}

.px-2 {
  padding-right: calc(2 * 5px);
  padding-left: calc(2 * 5px);
}

.px-3 {
  padding-right: calc(3 * 5px);
  padding-left: calc(3 * 5px);
}

.px-4 {
  padding-right: calc(4 * 5px);
  padding-left: calc(4 * 5px);
}

.px-5 {
  padding-right: calc(5 * 5px);
  padding-left: calc(5 * 5px);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.py-0 {
  padding-top: calc(0 * 5px);
  padding-bottom: calc(0 * 5px);
}

.py-1 {
  padding-top: calc(1 * 5px);
  padding-bottom: calc(1 * 5px);
}

.py-2 {
  padding-top: calc(2 * 5px);
  padding-bottom: calc(2 * 5px);
}

.py-3 {
  padding-top: calc(3 * 5px);
  padding-bottom: calc(3 * 5px);
}

.py-4 {
  padding-top: calc(4 * 5px);
  padding-bottom: calc(4 * 5px);
}

.py-5 {
  padding-top: calc(5 * 5px);
  padding-bottom: calc(5 * 5px);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.pa-0 {
  padding: calc(0 * 5px);
}

.pa-1 {
  padding: calc(1 * 5px);
}

.pa-2 {
  padding: calc(2 * 5px);
}

.pa-3 {
  padding: calc(3 * 5px);
}

.pa-4 {
  padding: calc(4 * 5px);
}

.pa-5 {
  padding: calc(5 * 5px);
}

.pa-auto {
  padding: auto;
}

/*
// 3.C - Display & Positions
*/
.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.p-static {
  position: static;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-capitalize {
  text-transform: capitalize;
}

.font-lowercase {
  text-transform: lowercase;
}

.font-uppercase {
  text-transform: uppercase;
}

/*
// 3.E - Shadow
*/
.shadow-card-1 {
  -webkit-box-shadow: 0px 0px calc(1 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(1 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-card-2 {
  -webkit-box-shadow: 0px 0px calc(2 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(2 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-card-3 {
  -webkit-box-shadow: 0px 0px calc(3 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(3 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-card-4 {
  -webkit-box-shadow: 0px 0px calc(4 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(4 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-card-5 {
  -webkit-box-shadow: 0px 0px calc(5 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(5 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-card-6 {
  -webkit-box-shadow: 0px 0px calc(6 * 2px) rgba(41, 51, 82, 0.15);
          box-shadow: 0px 0px calc(6 * 2px) rgba(41, 51, 82, 0.15);
}

.shadow-input {
  -webkit-box-shadow: 0px 2px 6px rgba(41, 51, 82, 0.15);
          box-shadow: 0px 2px 6px rgba(41, 51, 82, 0.15);
}

.shadow-link {
  -webkit-box-shadow: 0px 3px 2px rgba(41, 51, 82, 0.15);
          box-shadow: 0px 3px 2px rgba(41, 51, 82, 0.15);
}

/* 
// ================================
// | 4 | Button & Link
// ================================ 
// 4.A - Button
*/
.btn {
  border: none;
  outline: none;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 26px;
  margin: 2px 3px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
}

.btn-primary {
  color: #ffffff;
  background-color: #00316D;
}

.btn-secondary {
  color: #ffffff;
  background-color: #FFA804;
}

.btn-dark-primary {
  color: #ffffff;
  background-color: #293352;
}

.btn-light-primary {
  color: #ffffff;
  background-color: #007BFF;
}

.btn-ghost-primary {
  color: #00316D;
  border: 2px solid #00316D;
  background-color: rgba(255, 255, 255, 0);
}

.btn-ghost-secondary {
  color: #FFA804;
  border: 2px solid #FFA804;
  background-color: rgba(255, 255, 255, 0);
}

.btn-ghost-dark-primary {
  color: #293352;
  border: 2px solid #293352;
  background-color: rgba(255, 255, 255, 0);
}

/*
// 4.B - Link
*/
a {
  text-decoration: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #293352;
  cursor: pointer;
}

a:hover, a:active {
  color: #007BFF;
}

a.btn-primary:hover {
  color: #293352;
}

a.btn-light-primary:hover {
  color: #00316D;
}

a.menu {
  display: inline-block;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 28px;
  border-radius: 24px;
  color: #979FB5;
}

a.menu:hover, a.menu:active, a.menu.active {
  color: #293352;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ffffff;
}

input, textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 200ms;
  transition: 200ms;
}

input.normal, textarea.normal {
  width: 200px;
  height: 32px;
  font-size: 15px;
  line-height: 20px;
  padding: 7px 5px 5px 5px;
}

input.search-box, textarea.search-box {
  width: 350px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 30px 9px 35px;
}

input.pesan, textarea.pesan {
  min-height: 100px;
  max-height: 100px;
  overflow-y: hidden;
  min-width: 240px;
  max-width: 320px;
  font-size: 15px;
  line-height: 20px;
  padding: 7px 5px 5px 5px;
}

input:focus, textarea:focus {
  -webkit-box-shadow: 0px 2px 6px rgba(41, 51, 82, 0.15);
          box-shadow: 0px 2px 6px rgba(41, 51, 82, 0.15);
}

#search {
  position: relative;
  width: 100%;
  height: 40px;
}

#search .bx-search {
  position: absolute;
  top: 10px;
  left: 6px;
  font-size: 20px;
  color: #979FB5;
}

#search .bx-x {
  position: absolute;
  top: 8px;
  right: 6px;
  font-size: 24px;
  color: #979FB5;
}

/* 
// ================================
// | 5 | Playground & Responsive
// ================================ 
*/
body {
  margin: 0;
  padding: 0;
  background-color: #DFDFDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#phone-view {
  position: relative;
  max-width: 375px !important;
  min-width: 375px !important;
  width: 375px !important;
  max-height: 579px !important;
  min-height: 579px !important;
  height: 579px !important;
}

.nav {
  position: absolute;
  width: inherit;
}

.nav#head {
  top: 0;
  height: 60px;
}

.nav#head .header {
  position: relative;
  z-index: 10;
  width: inherit;
  height: 46px;
  background-color: #293352;
}

.nav#head .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: inherit;
}

.nav#head .header img {
  z-index: 11;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
}

.nav#head .header h3 {
  position: absolute;
  top: 12px;
  left: 60px;
}

.nav#head .header hr {
  position: absolute;
  top: 27px;
  left: 60px;
  width: 251px;
  border: none;
  border-bottom: 2px solid #ffffff;
}

.nav#main {
  bottom: 0;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav#main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9e9e9), to(rgba(233, 233, 233, 0)));
  background: linear-gradient(0deg, #e9e9e9, rgba(233, 233, 233, 0));
}

.nav#main .menu-box {
  position: relative;
  z-index: 10;
  width: 355px;
  height: 48px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  width: inherit;
  height: calc(579px - 45px);
  min-height: calc(579px - 45px);
  overflow-y: scroll;
  padding-right: 18px;
  padding-top: 45px;
}

section.text {
  position: relative;
  width: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px 60px 15px;
}

section.text .head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.text .head-section hr {
  width: 85px;
  border: none;
  border-bottom: 2px solid #293352;
}

section.text .head-section .burger {
  position: absolute;
  right: 0;
  width: 120px;
  height: 30px;
  background-color: #979FB5;
}

section.text .head-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 5px 0px;
}

section.text .head-section-2 hr {
  width: 85px;
  border: none;
  border-bottom: 2px solid #293352;
}

section.text .head-section-2 .burger {
  border: none;
  z-index: 6;
  position: absolute;
  right: 20px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

section.text .head-section-2 .burger option {
  border: none;
}

section.text .head-section-2 .burger-icon {
  z-index: 7;
  position: absolute;
  right: 25px;
  font-size: 20px;
  background-color: #ffffff;
}

section.text p.desc {
  height: calc(100% + 19px);
  overflow: hidden;
}

section.text::before {
  content: '';
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(60%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0));
}

section.text button {
  display: inline-block;
  z-index: 5;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.new,
.card {
  border-radius: 5px;
  background-color: #ffffff;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.content #about {
  z-index: 2;
  width: inherit;
  background-color: #ffffff;
  padding-bottom: 60px;
}

.content #about .jumbotron {
  position: relative;
  width: inherit;
  height: 180px;
  background-image: url("../img/jumbotron.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content #about .jumbotron::before {
  content: '';
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 51, 82, 0.4)), color-stop(rgba(41, 51, 82, 0.3)), color-stop(rgba(41, 51, 82, 0.1)), to(rgba(41, 51, 82, 0.05)));
  background: linear-gradient(0deg, rgba(41, 51, 82, 0.4), rgba(41, 51, 82, 0.3), rgba(41, 51, 82, 0.1), rgba(41, 51, 82, 0.05));
}

.content #about .jumbotron h1 {
  z-index: 3;
}

.content #about #sambutan {
  display: inline-block;
  height: 330px;
}

.content #about #sambutan img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 90px;
  height: 90px;
  border-radius: 0px 45px 45px 45px;
  float: left;
}

.content #about #sambutan p {
  display: inline-block;
}

.content #about #tujuan {
  position: relative;
  width: 375px;
  height: 390px;
  overflow: hidden;
  background-color: #DFDFDF;
}

.content #about #tujuan #visi {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 275px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content #about #tujuan #misi {
  position: absolute;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
  width: 275px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.content #about #tujuan:hover #visi .card-head {
  border-radius: 0px 0px 0px 0px;
}

.content #about #tujuan:hover #misi {
  top: 52px;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.content #about #tujuan p {
  font-style: italic;
  font-weight: lighter;
}

.content #about #tujuan .card-head {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 155px;
  height: 32px;
  border-radius: 0px 0px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.content #about #sejarah {
  padding-top: 65px;
  height: 340px;
}

.content #about #sejarah #alamat {
  position: absolute;
  top: -70px;
  left: 50%;
  width: 345px;
  height: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 2fr 75px;
      grid-template-columns: 75px 2fr 75px;
}

.content #about #sejarah #alamat div:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content #about #sejarah #alamat div:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content #about #sejarah #alamat div:nth-child(3) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content #about #sejarah #alamat .pagination .link {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.content #news, .content #video {
  z-index: 2;
  width: inherit;
  background-color: #ffffff;
  margin-top: 35px;
}

.content #news #new-box, .content #news #video-box, .content #video #new-box, .content #video #video-box {
  width: inherit;
  position: relative;
}

.content #news #new-box .new, .content #news #video-box .new, .content #video #new-box .new, .content #video #video-box .new {
  overflow: hidden;
}

.content #news #new-box .new img, .content #news #video-box .new img, .content #video #new-box .new img, .content #video #video-box .new img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.content #news #new-box .new a, .content #news #video-box .new a, .content #video #new-box .new a, .content #video #video-box .new a {
  display: block;
}

.content #news #new-box .new a h4, .content #news #video-box .new a h4, .content #video #new-box .new a h4, .content #video #video-box .new a h4 {
  display: inline-block;
}

.content #news #new-box .new .date, .content #news #video-box .new .date, .content #video #new-box .new .date, .content #video #video-box .new .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: lighter;
  color: #979FB5;
}

.content #news #new-box .new .date i, .content #news #video-box .new .date i, .content #video #new-box .new .date i, .content #video #video-box .new .date i {
  font-size: 18px;
  margin-right: 4px;
}

.content #news #new-box .new hr, .content #news #video-box .new hr, .content #video #new-box .new hr, .content #video #video-box .new hr {
  width: 200px;
  border: none;
  border-bottom: 3px solid #FFA804;
}

.content #mail,
.content #award {
  z-index: 2;
  width: inherit;
  background-color: #ffffff;
  margin-top: 35px;
}

.content #mail #mail-box,
.content #mail #award-box,
.content #award #mail-box,
.content #award #award-box {
  width: inherit;
  position: relative;
}

.content #mail #mail-box .card img,
.content #mail #award-box .card img,
.content #award #mail-box .card img,
.content #award #award-box .card img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.content #mail #mail-box .card hr,
.content #mail #award-box .card hr,
.content #award #mail-box .card hr,
.content #award #award-box .card hr {
  width: 50px;
  border: none;
  border-bottom: 3px solid #FFA804;
}

.content #award {
  padding-bottom: 60px;
}
/*# sourceMappingURL=main.css.map */