$d-primary: #293352;
$l-primary: #007BFF;
$primary: #00316D;
$secondary: #FFA804;
$white: #ffffff;
$transparant: rgba(255,255,255,0);
$black: #2D2D2D;
$d-gray: #979FB5;
$gray: #DFDFDF;
* {
    font-family: 'Segoe UI';
    text-decoration: none;
}
/* 
// ================================
// | 1 | Typography
// ================================ 
*/
h1,h2,h3,h4,h5{
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 2px;
    font-weight: bolder;
}
h2{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: bolder;
}
h3{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
h4{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}
h5{
    font-size: 14px;
    line-height: 19px;
    font-weight: bolder;
}
p{
    font-size: 14px;
    line-height: 19px;
    font-weight: lighter;
}
/* 
// ================================
// | 2 | Colour & Background
// ================================ 
// 2.A - Colour
*/
.text-primary{
   color: $primary !important;
}
.text-secondary{
    color: $secondary !important;
}
.text-dark-primary{
    color: $d-primary !important;
}
.text-light-primary{
    color: $l-primary !important;
}
.text-white{
    color: $white !important;
}
.text-gray{
    color: $gray !important;
}
.text-dark-gray{
    color: $d-gray !important;
}
.text-black{
    color: $black !important;
}
/*
// 2.B - Background
*/
.bg-primary{
   background-color: $primary !important;
}
.bg-secondary{
   background-color: $secondary !important;
}
.bg-dark-primary{
   background-color: $d-primary !important;
}
.bg-light-primary{
   background-color: $l-primary !important;
}
.bg-white{
   background-color: $white !important;
}
.bg-gray{
   background-color: $gray !important;
}
.bg-dark-gray{
   background-color: $d-gray !important;
}
.bg-black{
    background-color: $black !important;
}
/* 
// ================================
// | 3 | Layout
// ================================ 
// 3.A - Margin
*/
$margins: 't', 'r', 'b', 'l','x','y','a';

@for $i from 1 through length($margins){
    $margin: nth($margins, $i);
    @for $j from 0 through 5{
        .m#{$margin}-#{$j}{
            @if $margin == t {
                margin-top: calc(#{$j} * 5px);
            }@else if $margin == r {
                margin-right: calc(#{$j} * 5px);
            }@else if $margin == b {
                margin-bottom: calc(#{$j} * 5px);
            }@else if $margin == l {
                margin-left: calc(#{$j} * 5px);
            }@else if $margin == x {
                margin-right: calc(#{$j} * 5px);
                margin-left: calc(#{$j} * 5px);
            }@else if $margin == y {
                margin-top: calc(#{$j} * 5px);
                margin-bottom: calc(#{$j} * 5px);
            }@else{
                margin-top: calc(#{$j} * 5px);
                margin-bottom: calc(#{$j} * 5px);
                margin-right: calc(#{$j} * 5px);
                margin-left: calc(#{$j} * 5px);
            }
        }
    }
    .m#{$margin}-auto{
        @if $margin == t {
            margin-top: auto;
        }@else if $margin == r {
            margin-right: auto;
        }@else if $margin == b {
            margin-bottom: auto;
        }@else if $margin == l {
            margin-left: auto;
        }@else if $margin == x {
            margin-right: auto;
            margin-left: auto;
        }@else if $margin == y {
            margin-top: auto;
            margin-bottom: auto;
        }@else{
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
/*
// 3.B - Padding
*/

$paddings: 't', 'r', 'b', 'l','x','y','a';

@for $i from 1 through length($paddings){
    $padding: nth($paddings, $i);
    @for $j from 0 through 5{
        .p#{$padding}-#{$j}{
            @if $padding == t {
                padding-top: calc(#{$j} * 5px);
            }@else if $padding == r {
                padding-right: calc(#{$j} * 5px);
            }@else if $padding == b {
                padding-bottom: calc(#{$j} * 5px);
            }@else if $padding == l {
                padding-left: calc(#{$j} * 5px);
            }@else if $padding == x {
                padding-right: calc(#{$j} * 5px);
                padding-left: calc(#{$j} * 5px);
            }@else if $padding == y {
                padding-top: calc(#{$j} * 5px);
                padding-bottom: calc(#{$j} * 5px);
            }@else{
                padding: calc(#{$j} * 5px);
            }
        }
    }
    
    .p#{$padding}-auto{
        @if $padding == t {
            padding-top: auto;
        }@else if $padding == r {
            padding-right: auto;
        }@else if $padding == b {
            padding-bottom: auto;
        }@else if $padding == l {
            padding-left: auto;
        }@else if $padding == x {
            padding-right: auto;
            padding-left: auto;
        }@else if $padding == y {
            padding-top: auto;
            padding-bottom: auto;
        }@else{
            padding: auto;
        }
    }
}
    
/*
// 3.C - Display & Positions
*/

// Display 
$displays: 'inline', 'block', 'inline-block', 'flex', 'grid';

@for $i from 1 through length($displays){
    $display: nth($displays, $i);

    .d-#{$display}{
        display: #{$display};
    }
}
$positions: 'static', 'absolute', 'relative';

@for $i from 1 through length($positions){
    $position: nth($positions, $i);

    .p-#{$position}{
        position: #{$position};
    }
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.font-capitalize{
    text-transform: capitalize;
}
.font-lowercase{
    text-transform: lowercase;
}
.font-uppercase{
    text-transform: uppercase;
}
/*
// 3.E - Shadow
*/
.shadow{
    @for $i from 1 through 6{
        &-card-#{$i}{
            box-shadow: 0px 0px calc(#{$i} * 2px) rgba(41,51,82,0.1);
        }
    }
    &-input{
        box-shadow: 0px 2px 6px rgba(41,51,82,0.1);
    }
    &-link{
        box-shadow: 0px 3px 2px rgba(41,51,82,0.1);
    }
}
/* 
// ================================
// | 4 | Button & Link
// ================================ 
// 4.A - Button
*/
.btn{
    display: inline-block;
    background-color: $white;
    box-sizing: border-box;
    padding: 5px 26px;
    margin: 2px 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    // Detail
    &-primary{
        color: $white;
        background-color: $primary;
    }
    &-secondary{
        color: $white;
        background-color: $secondary;
    }
    &-dark-primary{
        color: $white;
        background-color: $d-primary;
    }
    &-ghost-primary{
        color: $primary;
        border: 2px solid $primary;
        background-color: $transparant;
    }
    &-ghost-secondary{
        color: $secondary;
        border: 2px solid $secondary;
        background-color: $transparant;
    }
    &-ghost-dark-primary{
        color: $d-primary;
        border: 2px solid $d-primary;
        background-color: $transparant;
    }
}

/*
// 4.B - Link
*/
a{
    text-decoration: none;
    transition: 400ms;
    &:hover, &:active{
        color: $l-primary;
    }
    &.menu{
        display: inline-block;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $transparant;
        color: $d-gray;
        &:hover, &:active,&.active{
            color: $d-primary;
        }
    }
    cursor: pointer;
}

/* 
// ================================
// | 5 | Playground & Responsive
// ================================ 
*/
body{
    margin: 0;
    padding: 0;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#phone-view{
    position: relative;
    max-width: 375px !important;
    min-width: 375px !important;
    width: 375px !important;
    max-height: 579px !important;
    min-height: 579px !important;
    height: 579px !important;
}
// Nav
.nav{
    position: absolute;
    width: inherit;
    &#head{
        top: 0;
        height: 60px;
        .header{
            position: relative;
            z-index: 10;
            width: inherit;
            height: 46px;
            background-color: $d-primary;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left:0;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background-color: inherit;
            }
        }
    }
    &#main{
        bottom: 0;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(233,233,233,1),rgba(233,233,233,0));
        }
        .menu-box{
            position: relative;
            z-index: 10;
            width: 355px;
            height: 48px;
            border-radius: 24px;
        }
    }
}
.content{
    width: inherit;
    height: calc(579px - 45px);
    min-height: calc(579px - 45px);
    overflow-y: scroll;
    padding-right: 18px;
    padding-top: 45px;
}
section.text{
    position: relative;
    width: inherit;
    box-sizing: border-box;
    padding: 0px 10px 60px 15px;
    .head-section{
        display: flex;
        align-items: center;
        hr{
            width: 85px;
            border: none;
            border-bottom: 2px solid $d-primary;
        }
    }
    p.desc{
        height: calc(100% + 19px);
        overflow: hidden;
    }
    &::before{
        content: '';
        z-index: 4;
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        height: 90px;
        background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0.7) 60%,rgba(255,255,255,0));
    }
    button{
        display: inline-block;
        z-index: 5;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translatex(-50%);
    }
}
.card{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: $white;
}
// Main
.content{
    #about{
        z-index: 2;
        width: inherit;
        background-color: $white;
        padding-bottom: 60px;
        .jumbotron{
            position: relative;
            width: inherit;
            height: 180px;
            background-image: url('../img/jumbotron.jpg');
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                content: '';
                z-index: 3;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(41,51,82,0.4),rgba(41,51,82,0.3),rgba(41,51,82,0.1),rgba(41,51,82,0.05));
            }
            h1{
                z-index: 3;
            }
        }
        #sambutan{
            display: inline-block;
            height: 330px;
            img{
                object-fit: cover;
                object-position: center;
                width: 90px;
                height: 90px;
                border-radius: 0px 45px 45px 45px;
                float: left;
            }
            p{
                display: inline-block
            }
        }
        #tujuan{
            position: relative;
            width: 375px;
            height: 390px;
            overflow: hidden;
            background-color: $gray;
            #visi{
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                width: 275px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #misi{
                position: absolute;
                top: 240px;
                left: 50%;
                transform: translateX(-50%) scale(0.9);
                width: 275px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;
                
            }
            &:hover{
                #visi{
                    .card-head{
                        border-radius: 0px 0px 0px 0px;
                    }
                }
                #misi{
                    top: 52px;
                    transform: translateX(-50%) scale(1);
                }
            }
            p{
                font-style: italic;
                font-weight: lighter;
            }
            .card-head{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 155px;
                height: 32px;
                border-radius: 0px 0px 16px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
            }
        }
        #sejarah{
            padding-top: 65px;
            height: 340px;
            #alamat{
                position: absolute;
                top: -70px;
                left: 50%;
                width: 345px;
                height: 120px;
                transform: translateX(-50%);
                display: grid;
                grid-template-columns: 75px 2fr 75px;
            }
        }
    }
}
